rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
    	allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null;
      
      match /health/{healthDocId} {
      	allow read, create: if request.auth != null;
        allow update, delete: if request.auth != null && request.auth.uid == resource.data.ownerId;
      }
      
      match /measurements/{measurementId} {
      	allow read, create: if request.auth != null;
        allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      }
    }
    match /nutritions/{nutritionId} {
    	allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    match /workouts/{workoutId} {
    	allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.workoutOwnerId;
    }
    match /routine_histories/{routine_historyId}/{document=**} {
    	allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    match /workout_histories/{workout_historyId}/{document=**} {
    	allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.uid;
    }
    match /routines/{routineId}/{document=**} {
    	allow create: if request.auth != null;
      allow read: if request.auth != null && (request.auth.uid == resource.data.routineOwnerId || resource.data.isPublic)
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.routineOwnerId;
      
      match /routine_workouts/{routine_workoutsId} {
      	allow read, create: if request.auth != null;
        allow update, delete: if request.auth != null && request.auth.uid == resource.data.routineWorkoutOwnerId;
      }
    }
    match /user_feedbacks/{userFeedbackId} {
    	allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    match /youtube_videos/{youtube_videoId} {
    	allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null;
    }
  }
}