<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22787456179-42uf9muv5jud1psrqqc2ogovuj86322t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22787456179-42uf9muv5jud1psrqqc2ogovuj86322t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>22787456179-9j6ki5h54hm900bg72ua8g2iip714q9j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvl5snXgonBaCmEE9QonIc8cH3RduJg5g</string>
	<key>GCM_SENDER_ID</key>
	<string>22787456179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heeyunlee.workoutPlayer</string>
	<key>PROJECT_ID</key>
	<string>workout-player</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-player.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22787456179:ios:6babecfd8602a71d3ec4c6</string>
	<key>DATABASE_URL</key>
	<string>https://workout-player-default-rtdb.firebaseio.com</string>
</dict>
</plist>
