<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008594575857-tnb3n24k54dvr3cb5jifcd6nm11qe5pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008594575857-tnb3n24k54dvr3cb5jifcd6nm11qe5pk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1008594575857-miajain8qfltnrl8aisff50btg0k4uvf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8mhNIZ0xCe-JtR43GiiichyYlhFdwqZw</string>
	<key>GCM_SENDER_ID</key>
	<string>1008594575857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healtine.playerh</string>
	<key>PROJECT_ID</key>
	<string>player-h</string>
	<key>STORAGE_BUCKET</key>
	<string>player-h.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008594575857:ios:999d6a9aa9e1c532046450</string>
</dict>
</plist>